# MacOS
.DS_Store

# VSCode
.vscode

# Debugging
*.dSYM

# Object Files
*.o

# Program
a.out
megaphone
phonebook
accounts
zombies
horde
brain
violence
replace
harl
harlFilter
fixed
claptrap

# Redirection files

